@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 25px;
    font-family: 'Raleway', sans-sarif;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero{
    background-image: url(White\ wallpaper\ #2.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: rgb(76, 73, 226);
    animation: text_reveal_box 1.5s ease;
    animation-delay: .5s;
}

#hero .cta{
    display: inline-block;
    padding: 8px 28px;
    color: rgb(76, 73, 226);
    background-color: transparent;
    border: 2.5px solid rgb(76, 73, 226);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#hero .cta:hover{
    color: white;
    background-color: rgb(76, 73, 226);
}



@keyframes text_reveal_box{
    50%{
       height: 100%;
       top: 0;
    }

    100%{
        height: 0%;
        top: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: black;
    }
}



#politiek-juridisch{
    background-color: rgb(98, 100, 253);
}

#politiek-juridisch{
        
}
